<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appSettings>
    <add key="xmlSource.absolute.path" value="C:\Users\andy\Documents\GitHub\Xamarin\GenericMath\src\GenericMath.LinearAlgebra\bin\Debug\GenericMath.LinearAlgebra.xml"/>
    <add key="markupTarget.folder.path" value="C:\Users\andy\Documents"/>
  </appSettings>
</configuration>