<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appSettings>
	<!-- The absolute path to the folder where the doc xml files are located -->
    <add key="xmlSource.folder.path" value=""/>

    <!-- The absolute path to the folder where the markup files should be safed -->
    <add key="markupTarget.folder.path" value=""/>
  </appSettings>
</configuration>